* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: rgb(195, 192, 220);
}

#suche {
    display: block;
    width: 80%;
    margin: 2% auto;
    padding: 1%;
    font-size: 2rem;
    text-align: center;
    border-radius: 50px;
}

h1 {
    text-align: center; /* Zentriert den Haupttitel */
    color: rgb(39, 39, 79);
    font-size: 4rem;
    margin-bottom: 20px; /* Gibt etwas Abstand nach unten */
}

#anzeige {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

.cocktail-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left; /* Setzt den Text linksbündig */
}

.cocktail-container img {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(100%); /* Anfangszustand in Schwarz-Weiß */
    transition: filter 0.3s ease; /* Glatte Filter-Änderung beim Hover */
}

.cocktail-container img:hover {
    filter: grayscale(0%); /* Setzt die volle Farbsättigung beim Hover */
    cursor: pointer; /* Ändert den Cursor zum Zeiger, um Interaktivität anzuzeigen */
}

.cocktail-container h2 {
    color: #27274F;
    text-align: left; /* Stellt sicher, dass der Titel linksbündig ist */
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #27274F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #4948A0;
}
.image-container {
    float: left; /* Bild linksbündig*/
    width: 25%; /* Bild nimmt 25% der Breite ein*/
    margin-right: 20px; /* Abstand zwischen Bild und Details*/
}

.detail-image {
    width: 100%; /* Bild nimmt die volle Breite des Containers ein*/
    border-radius: 10px; /* Abgerundete Ecken*/
}

.details-container {
    float: left; /**/
    width: 74%; /* Details nehmen den verbleibenden Platz ein*/
    padding-top: 20px; /* Abstand oben, um mit dem Bild auszurichten*/
}

.info-container {
    background-color: #fff; /* Weißer Hintergrund*/
    padding: 10px; /* Padding für den Text*/
    margin-bottom: 10px; /* Abstand zwischen den Informationsblöcken */
    transition: transform 0.3s ease; /* Animation für Hover */
    border-radius: 10px; /* Abgerundete Ecken*/
}

.info-container:hover {
    transform: scale(1.05); /* Vergrößern beim Hover*/
}
