/* Basis-Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header-Container */
#header-container {
    position: relative;
    width: 100%;
}

#header {
    display: block;
    width: 100%;
    height: auto;
}

/* Zentrierte Inhalte im Header */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

/* Hauptüberschriften */
#page-title, #cocktail-title {
    font-size: 4rem;
    margin-bottom: 10px;
    cursor: default;
}

/* Suchfeld */
#suche {
    width: calc(100% - 40px);
    font-size: 1.8rem;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    border: none;
    text-align: left;
    margin: 10px auto;
    color: #4aa0b2;
}

#suche::placeholder {
    color: #4aa0b2;
    font-size: 1.8rem;
    opacity: 0.5;
    text-align: left;
}

#suche:focus {
    outline: none;
}

/* Body-Styles */
body {
    font-family: 'Asap', sans-serif;
    background-color: rgb(225, 243, 250);
    padding-top: 70px;
}

/* Anzeige der Cocktails */
#anzeige {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 3%;
    justify-content: center; /* Zentriert das Grid-Container */
}

.cocktail-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #545454;
    text-align: center; /* Zentriert den Text im Cocktail-Container */
    cursor: pointer;
    width: 100%; /* Sorgt dafür, dass die Container die volle Spaltenbreite einnehmen */
}

.cocktail-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.cocktail-container img:hover {
    opacity: 1;
}

.cocktail-container h2 {
    color: #1c3c43;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    max-width: 100%;
}

/* Buttons */
button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: transparent;
    color: #4aa0b2;
    border: none;
    cursor: pointer;
    position: relative;
}

button:hover, button.active {
    color: #d66734;
}

button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #d66734;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border-radius: 2px;
}

button:hover::after, button.active::after {
    width: 100%;
}

/* Bild-Container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Detail-Container */
.details-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Sorgt für einen konsistenten Abstand zwischen den Elementen */
    align-items: flex-start; /* Richtet die Elemente am Anfang aus */
    padding: 20px;
    background-color: transparent;
    max-width: 800px;
    margin: 0 auto;
}

.detail-bild {
    flex: 0 0 auto; /* Verhindert, dass das Bild gestreckt wird */
    max-width: 45%; /* Passt die Grösse nach Bedarf an */
    height: auto;
    border-radius: 10px;
}

.info-container {
    flex: 1 1 auto; /* Ermöglicht dem Container zu wachsen */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Stellt sicher, dass der Inhalt oben beginnt */
    align-items: flex-start;
}

.info-container h3 {
    margin-bottom: 10px;
}

.info-container div {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

/* Balken für Filter */
.white-bar {
    height: 70px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Button-Container */
#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

#zurueckButton, #previousButton, #nextButton {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: white;
    color: #4aa0b2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: 0 10px;
}

#zurueckButton:hover, #zurueckButton.active, #previousButton:hover, #previousButton.active, #nextButton:hover, #nextButton.active {
    color: #d66734;
}

#zurueckButton::after, #previousButton::after, #nextButton::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #d66734;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    border-radius: 2px;
}

#zurueckButton:hover::after, #zurueckButton.active::after, #previousButton:hover::after, #previousButton.active::after, #nextButton:hover::after, #nextButton.active::after {
    width: 100%;
}

/* Header-Styles */
.white-header {
    background-color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.header-text {
    font-size: 2rem;
    color: #4aa0b2;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Footer-Styles */
footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 5px 0;
}

/* Detail Cocktails */
.ingredients-list {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.ingredients-list h3 {
    margin-bottom: 10px;
    margin-left: -10px;
}

.ingredients-list div {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
    margin-left: -10px;
}

#previousButton, #nextButton {
    font-size: 4rem;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #4aa0b2;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#previousButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

#previousButton:hover, #nextButton:hover {
    color: #d66734;
}

/* Cocktail-Titel */
#cocktail-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

footer {
    background-color: #fbbbbf;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
}

/* Team-Mitglieder */
.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.team-member {
    text-align: center;
    width: 150px;
}

.flip-card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    perspective: 1000px;
    margin-bottom: 10px;
}

.flip-card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.team-member:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    background-color: transparent;
}

.flip-card-back {
    background-color: #4aa0b2;
    color: white;
    font-size: small;
    padding: 10%;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.team-member:hover .flip-card-front img {
    transform: scale(1.1);
}

.team-member h3, .team-member p {
    margin: 0;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 0.8rem;
    color: white;
}

/* Suchfeld*/
.search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.clear-icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #4aa0b2;
    cursor: pointer;
    display: none;
}

#suche:focus + .search-icon + .clear-icon,
#suche:not(:placeholder-shown) + .search-icon + .clear-icon {
    display: block;
}

/* Media-Queries - Responsives Design */
@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        padding: 10px 0;
    }

    .filter-btn, button {
        font-size: 2rem;
        padding: 8px 16px;
    }

    .centered-content {
        padding: 10px;
    }

    .details-container {
        flex-direction: column;
        align-items: left;
    }

    .detail-bild, .info-container {
        max-width: 100%;
    }

    .detail-bild {
        margin-bottom: 20px;
    }

    #page-title, #cocktail-title {
        font-size: 2.5rem;
    }

    #suche {
        width: 100%;
        font-size: 1.7rem;
        padding: 10px 60px 6px 60px;
        text-align: left;
    }

    #suche::placeholder {
        font-size: 1.7rem;
        text-align: left;
    }

    .search-icon {
        left: 25px;
        width: 25px;
        height: 25px;
    }

    .clear-icon {
        right: 25px;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    #anzeige {
        grid-template-columns: 1fr;
        justify-items: center; /* Zentriert das einzelne Element im Grid */
    }
    
    h1 {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .filter-btn, button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }

    .centered-content {
        padding: 10px;
    }

    .details-container {
        flex-direction: column;
        align-items: left;
    }

    .detail-bild, .info-container {
        max-width: 100%;
    }

    .detail-bild {
        margin-bottom: 20px;
    }

    #page-title, #cocktail-title {
        font-size: 1.7rem;
    }

    #suche {
        width: 100%;
        font-size: 1.2rem;
        padding: 6px 30px 6px 40px;
        text-align: left;
    }

    #suche::placeholder {
        font-size: 1.2rem;
        text-align: left;
    }

    .search-icon {
        left: 15px;
        width: 15px;
        height: 15px;
    }

    .clear-icon {
        right: 15px;
        font-size: 1.2rem;
    }

    .team-members {
        flex-direction: column;
    }

    .team-member {
        width: 100%;
        max-width: 300px;
    }

    .flip-card {
        padding-top: 100%;
    }
}

@media (max-width: 400px) {
    #page-title, #cocktail-title {
        font-size: 1.5rem;
    }

    #suche {
        font-size: 1rem;
        padding: 6px 25px 6px 35px;
        width: 100%;
        text-align: left;
    }

    #suche::placeholder {
        font-size: 1rem;
        text-align: left;
    }

    .search-icon {
        left: 10px;
        width: 15px;
        height: 15px;
    }

    .clear-icon {
        right: 10px;
        font-size: 1rem;
    }

    .cocktail-container {
        min-width: 90%;
        max-width: 90%;
    }
}
